<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Diet and Workouts Recommendations</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style1.css') }}"
    />

    <!-- Add Google Fonts Link for Lilita One -->

    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />

    <!-- Add Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body style="background: black; color: white">
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <!-- Apply the 'Lilita One' font to the logo -->

          <h2 class="logo" style="font-family: 'Lilita One', sans-serif">
            TASTEMATE
          </h2>
        </div>

        <div class="menu">
          <ul>
            <li><a href="#">HOME</a></li>

            <li><a href="#">ABOUT</a></li>

            <li><a href="#">SERVICE</a></li>

            <li><a href="#">DESIGN</a></li>

            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
      </div>

      <div
        class="container mycont mt-5"
        style="
          background: transparent;
          color: black;
          border-radius: 15px;
          padding: 10px;
          color: white;
        "
      >
        <h1
          class="text-center"
          style="font-family: 'Lilita One', sans-serif; color: white"
        >
          Diet Recommendations
        </h1>

        <form action="/recommend" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="age">Age:</label>

                <input type="number" class="form-control" id="age" name="age" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="gender">Gender:</label>

                <select class="form-control" id="gender" name="gender">
                  <option value="male">Male</option>

                  <option value="female">Female</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="weight">Weight (kg):</label>

                <input
                  type="number"
                  class="form-control"
                  id="weight"
                  name="weight"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="height">Height (m):</label>

                <input
                  type="number"
                  class="form-control"
                  id="height"
                  name="height"
                  step="0.01"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="veg_or_nonveg">Veg or Non-Veg:</label>

                <select
                  class="form-control"
                  id="veg_or_nonveg"
                  name="veg_or_nonveg"
                >
                  <option value="veg">Veg</option>

                  <option value="nonveg">Non-Veg</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="disease">Generic Disease:</label>

                <input
                  type="text"
                  class="form-control"
                  id="disease"
                  name="disease"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="region">Region:</label>

                <input
                  type="text"
                  class="form-control"
                  id="region"
                  name="region"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="Allergies">Allergies:</label>

                <input
                  type="text"
                  class="form-control"
                  id="allergies"
                  name="allergies"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="foodtype">Food Type:</label>

            <input
              type="text"
              class="form-control"
              id="foodtype"
              name="foodtype"
            />
          </div>

          <div class="text-center">
            <form action="/recommend" method="POST">
              <!-- Input fields will be auto-sent as part of the POST request -->
              <button type="submit" class="btnn">Recommend Diets</button>
            </form>
          </div>
        </form>
      </div>
    </div>

    <!-- Add Bootstrap JS and jQuery -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
